<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediochat Dashboard</title>
</head>
<body>

    This is a protected view. Only logged in users can see this.
    <br>
    <br>
    <a href="/logout">Log Out</a>
    
</body>
</html>