<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediochat Forget Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body style="background-color:rgb(241,247,252);">

    <div class="login-clean">
        <form id="reset-password" style="padding-top:30px;">
            <div class="illustration" style="padding-bottom:0px;"><img class="img-fluid" src="img/logo.png"></div>
            <a class="forgot" style="color:rgb(78,81,84);">Please enter your email address, if there is an account associated with this email address then a form to reset your password will be sent.</a>
            
            <div class="form-group">
                <input id="email" class="form-control" type="email" name="email" placeholder="Email" style="color:rgb(0,0,0);" required>
            </div>
            <div class="form-group">
                <button id="btn-resetPassword" class="btn btn-primary btn-block" type="button" style="background-color:rgb(5,90,218);">Reset Password</button>
            </div>
            <span id="message" style="color: red; text-align: center;"></span>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const firebaseConfig = {
                apiKey: "AIzaSyDqDK3dcjAfqSStCPLDdGoOEuV4rKr3baU",
                authDomain: "mediochat.firebaseapp.com",
                databaseURL: "https://mediochat.firebaseio.com",
                projectId: "mediochat",
                storageBucket: "mediochat.appspot.com",
                messagingSenderId: "693707820449",
                appId: "1:693707820449:web:17861f002c9dae32c28fe0",
                measurementId: "G-ZCG6N4126G"
            };
            firebase.initializeApp(firebaseConfig);

            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

            $("#btn-resetPassword").click(function() 
            {
                var auth = firebase.auth()
                const email = $("#email").val();

                if (email != ""){
                    auth.sendPasswordResetEmail(email).then( function (){
                        $('#message').html("Email has been sent to you, please check and verify").css('color', 'blue');
                    })
                    .catch(function(error)
                    {
                        var errorCode = error.code;
                        var errorMessage = error.message;

                        console.log(errorCode);
                        console.log(errorMessage);

                        $('#message').html(errorMessage).css('color', 'red');
                    });

                } else {
                   $('#message').html("Please enter a valid email addresss").css('color', 'red');
                }
                });
        });
    </script>
</body>

</html>