<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediochat Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body style="background-color:rgb(241,247,252);">

    <div class="login-clean">
        <form method="post" style="padding-top:30px;">
            <div class="illustration" style="padding-bottom:0px;"><img class="img-fluid" src="img/horizontal.png"></div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" style="color:rgb(0,0,0);">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" style="color:rgb(0,0,0);">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(5,90,218);">Log In</button>
            </div>
            <a href="#" class="forgot" style="color:rgb(78,81,84);">Forgot your email or password?</a>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>