<!DOCTYPE html>
<html lang="en" >
<head>
	<link rel="stylesheet" href="/css/room-style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script>
		const ROOM_ID = "<%= roomId %>"
		const USER_TYPE = "<%= userType %>"
		const DOCTOR_NAME = "<%= doctorName %>"
		const PATIENT_NAME = "<%= patientName %>"
	</script>
	<script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
	<script src="/socket.io/socket.io.js" defer></script>
	<script src="/js/script.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js" defer></script>
	<title>Video Room - Mediochat</title>
</head>
<body>
	<div id="localVideoGrid"></div>
	<div id="video-grid"></div>

	<div id="chat">
	</div>
	<div id="chat-box">
		<form id="send-container">
			<textarea type="text" id="message-input" rows="3"></textarea>
			<button type="submit" id="send-button">Send</button>
		  </form> 
	</div>
	<div id="button-box">
		<button class="button" id="mute" onclick="mute()" title="mute">
			Mute
		</button>
		<button class="button" id="end-call" onclick="endCall()">
			End Call
		</button>
	</div>
</body>
</html>