<!DOCTYPE html>
<html lang="en" >
<head>
	<link rel="stylesheet" href="/css/room-style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script>
		const ROOM_ID = "<%= roomId %>"
	</script>
	<script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
	<script src="/socket.io/socket.io.js" defer></script>
	<script src="/js/script.js" defer></script>
	<title>Video Room - Mediochat</title>
</head>
<body>
	<div id="localVideoGrid"></div>
	<div id="video-grid"></div>
	<div id="chat">
	</div>
	<div id="chat-box">
		<form id="send-container">
			<textarea type="text" id = message-input
          rows="3" ></textarea>
			<button type="submit" id="send-button">Send</button>
		  </form> 
	</div>
	<div id="button-box">
		<button id="mute" onclick="mute()" title="mute"></button>
		<button id="end-call" onclick="endCall()"></button>
	</div>
</body>
</html>